* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-image: url("./bg.jpg");
}

body::before {
    content: black;
    opacity: 0.4;
    position: absolute;
}

.container {
    margin: 0 auto;
    position: relative;
}

.photos {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    gap: 70px;
    /* margin-bottom: 50px; */
}

.header {
    background-color: gray;
    opacity: 30%;
    width: 100%;
    height: 200px;
    margin: 10px auto;
}


.pd {
    position: relative;
}


/* .photo::before {
    content: url("./leafs.jpg");
    opacity: 0.33;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 30px;
} */

.photo {
    border-radius: 30px;
    
    background-size: cover;
    
    
    max-width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: start;
}

.rev {
    flex-direction: row-reverse;
}

img {
    z-index: 1;
    width: 60% !important;
    min-height: 300px;
    object-fit:cover;
    border-radius: 30px 0 0 30px;
}

.rev img {
    border-radius: 0 30px 30px 0;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    width: 50%;
    height: auto;
    align-self: center;

    
}